/**
 * @Author: Jecyu
 * @Date: 2017-10-26 8:30:39 am 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-26 8:30:53 am 
 */
 
/* footer */
.footer {
    font-size: 18px;
    color: #fff;
    background: #722872;    
}

.footer .footer-below {
    height: 100px;    
    padding-top: 50px;
}
